/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

:root {
  --blue-900: #191926;
  --blue-700: #323640;
  --pushable-pink: #7A1552;
  --front-pink: #C02180;
  --pink-300: #e574bc;
  --pink-100: #f9b4ed;

  --font-header: 'Pixelify Sans', sans-serif;
  --font-body: 'Orbitron', sans-serif;
}

/* heading section */
header {
  background-color: var(--blue-700);
  color: var(--pink-300);
  justify-items: center;
  padding: 1.5rem;
}

#heading {
  font-size: 3rem;
  font-family: var(--font-header);
}

/* main section */
body {
  background-color: var(--blue-900);
  font-family: var(--font-body);
}

main {
  display: flex;
  justify-content: space-evenly;
  padding: 3rem;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

#grid-container {
  width: 45rem;
  height: 45rem;
  background-color: white;
  border: var(--front-pink) 6px solid;
}

#grid {
  width: 100%;
  border: black 1px solid;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.cell {
  width: 100%;
}

.border-cell {
  border: black 1px solid;
}

.row {
  display: flex;
  height: 100%;
}

#grid-display {
  color: var(--pink-100);
  font-size: 2.5rem;
}

.display-state {
  color: var(--pink-100);
  font-size: 1.25rem;
}

/* button styles */
.pushable {
  position: relative;
  background: transparent;
  border-radius: 0.75rem;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 600ms;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
  background: hsl(0deg 0% 0% / 0.25);
  transform: translateY(4px);
  filter: blur(2px);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
  background: var(--pushable-pink);
}

.front {
  display: block;
  position: relative;
  padding: 1.5rem 3rem;
  border-radius: 0.75rem;
  font-size: 1.25rem;
  background: var(--front-pink);
  color: var(--pink-100);
  letter-spacing: 2px;
  transform: translateY(-6px);
}

/* hover state */
.front {
  transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.shadow {
  transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.pushable:hover {
  transition: filter 250ms;
  filter: brightness(115%);
}

.pushable:hover .front {
  transform: translateY(-9px);
  transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:hover .shadow {
  transform: translateY(6px);
  transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .front {
  transform: translateY(-4px);
  transition: transform 34ms;
}

.pushable:active .shadow {
  transform: translateY(4px);
  transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}