#grid-container {
    border: solid black 1px;
    width: 50rem;
    height: 50rem;
}

#grid {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.row {
    height: 100%;
    display: flex;
}

.cell {
    width: 100%;
}

.cell-border {
    border: black solid 1px;
}