#grid-container {
    border: solid black 1px;
    width: 50rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
    
}

.row {
    height: 100%;
    display: flex;
}

.cell {
    border: black solid 1px;
    width: 100%;
}